@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: transparent;
}

nav .sidenav-trigger {
  color: black;
}

.body-content {
  margin-top: 10px;
}
/* top-info */
.top-info {
  background-color: darkgrey;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.top-info h1 {
  float: left;
}

.top-info .right {
  float: right;
}

.med-sos {
  display: inline;
}

.med-sos a {
  font-size: 15px;
  padding: 10px;
  color: wheat;
}

.fa:hover {
  opacity: 0.7;
}

/* logo */
.logo img {
  width: 25%;
}

.logo {
  padding: 20px;
}

/* card */
.card-image img {
  width: 100%;
  max-height: 130px;
  object-fit: fill;
  object-position: center;
  padding: 5px;
}

.card-content p {
  font-size: smaller !important;
}

/* nav hack */
nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

/* footer */
.text {
  padding: 10px;
  color: white;
}

/* detail */
.team-detail img {
  max-height: 200px;
  min-height: 150px;
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
